.Baguette{
    
    width: 100%;
    margin:0 auto;  
    height: 40vh;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    
}

@media(min-width: 500px) and (min-height: 400px){
    .Baguette{
        width: 350px;
        height: 300px;
    }
}

@media(min-width: 500px) and (min-height: 401px){
    .Baguette{
        width: 450px;
        height: 300px;
    }
}


@media(min-width: 1000px) and (min-height: 700px){
    .Baguette{
        width: 700px;
        height: 600px;
    }
}